<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Output
        </h3>
    </div>
    <div class="panel-body">
        {{#each sidebar.ocr}}
        	<p>{{this}}</p>
        {{/each}}
    </div>
</div>
